:root{

/* Primary Theme */

--primary:#F4B000;

--primary-hover:#FFC72C;

--primary-light:#FFE8A3;

/* Background */

--background:#FFF8E8;

--card:#FFFFFF;

--section:#FFFDF7;

/* Text */

--text:#2E2E2E;

--text-light:#666666;

--white:#FFFFFF;

/* Border */

--border:#ECECEC;

/* Shadow */

--shadow:0px 8px 24px rgba(0,0,0,0.08);

/* Radius */

--radius:20px;

/* Category Colors */

--home:#FF5D8F;

--electronics:#3B82F6;

--baby:#FF8FAB;

--fashion:#6ECBF5;

--footwear:#5B5FEF;

--cookware:#FF8C42;

--skincare:#F4A896;

--grocery:#6CCB3C;

--sports:#22C7D6;

--furniture:#B07A4F;

}