.flash-section{

margin-top:60px;

}

.flash-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:24px;

}

.flash-card{

background:white;

border-radius:22px;

overflow:hidden;

box-shadow:var(--shadow);

transition:.3s;

}

.flash-card:hover{

transform:translateY(-8px);

}

.flash-top{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

color:white;

font-weight:600;

}

.timer{

background:rgba(255,255,255,.2);

padding:6px 10px;

border-radius:20px;

font-size:12px;

}

.flash-card img{

height:220px;

object-fit:cover;

}

.flash-body{

padding:20px;

}

.flash-body h3{

font-size:20px;

margin-bottom:10px;

}

.flash-body p{

color:#666;

margin-bottom:10px;

}

.flash-body h2{

color:var(--primary);

margin-bottom:18px;

}

.flash-body button{

width:100%;

padding:14px;

background:var(--primary);

color:white;

border-radius:12px;

font-weight:600;

}

.flash-body button:hover{

background:var(--primary-hover);

}