.dashboard-stats{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin:35px 0;

}

.stat-card{

background:white;

padding:28px;

border-radius:20px;

display:flex;

align-items:center;

gap:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.stat-card:hover{

transform:translateY(-6px);

}

.stat-icon{

width:65px;

height:65px;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

.stat-card h3{

font-size:28px;

margin-bottom:5px;

}

.stat-card p{

color:#777;

}