.quick-actions{

margin-top:40px;

background:white;

padding:30px;

border-radius:22px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.quick-header{

margin-bottom:25px;

}

.quick-header h2{

font-size:30px;

margin-bottom:6px;

color:#2E2E2E;

}

.quick-header p{

color:#777;

}

.quick-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

}

.quick-card{

background:#FFF8E8;

border:none;

padding:30px;

border-radius:18px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

gap:18px;

cursor:pointer;

transition:.3s;

}

.quick-card:hover{

transform:translateY(-8px);

box-shadow:0 12px 25px rgba(0,0,0,.12);

background:white;

}

.quick-icon{

width:65px;

height:65px;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

.quick-card h4{

font-size:18px;

color:#2E2E2E;

text-align:center;

}