.system-status{

margin-top:40px;

background:white;

padding:30px;

border-radius:22px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.system-header{

margin-bottom:25px;

}

.system-header h2{

font-size:30px;

margin-bottom:6px;

color:#2E2E2E;

}

.system-header p{

color:#777;

}

.system-list{

display:flex;

flex-direction:column;

gap:20px;

}

.system-card{

background:#FFF8E8;

padding:22px;

border-radius:18px;

transition:.3s;

}

.system-card:hover{

transform:translateY(-4px);

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.system-top{

display:flex;

align-items:center;

gap:18px;

margin-bottom:18px;

}

.system-icon{

width:55px;

height:55px;

border-radius:16px;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

.system-info{

flex:1;

}

.system-info h4{

margin-bottom:5px;

font-size:18px;

}

.system-info p{

color:#777;

}

.status-progress{

height:10px;

background:#ECECEC;

border-radius:20px;

overflow:hidden;

}

.status-fill{

height:100%;

border-radius:20px;

transition:width .5s ease;

}